# Tarea 1 Bases de Datos 2023-1 Grupo 51

## Integrantes:
* Rock Dabre Valenzuela - 202173077-k
* Octavia Jara - 202273018-8

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [34]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: ipython in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: jedi>=0.16 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pickleshare in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: traitlets>=5 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: matplotlib-inline in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: psycopg2 in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (2.9.6)
Requirement already satisfied: names in /Users/octavia/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (0.3.0)

## Importar dependencias

In [35]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [36]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:fofatown@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:fofatown@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [37]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="fofatown"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x7f85bbdddd60; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [56]:
%%sql
CREATE TABLE facciones (
  id INTEGER GENERATED ALWAYS AS IDENTITY,
  nombre VARCHAR(45) NOT NULL,
  descripcion VARCHAR(45) NOT NULL,
  PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "trabajos" (6 pts)

In [58]:
%%sql
CREATE TABLE trabajos (
 id INTEGER GENERATED ALWAYS AS IDENTITY,
 nombre VARCHAR(45) NOT NULL,
 descripcion VARCHAR(45) NOT NULL,
 sueldo INTEGER NOT NULL,
 PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "personas" (6 pts)

In [60]:
%%sql
CREATE TABLE personas(
 id INTEGER GENERATED ALWAYS AS IDENTITY,
 nombre VARCHAR(45) NOT NULL,
 apellidos VARCHAR(45) NOT NULL,
 fecha_nacimiento DATE NOT NULL,
 infectado BOOL NOT NULL,
 conyugue INTEGER,
 FOREIGN KEY (conyugue) REFERENCES personas,
 PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [62]:
%%sql
CREATE TABLE cuentas_bancarias (
 id INTEGER GENERATED ALWAYS AS IDENTITY,
 tipo_de_cuenta VARCHAR(45) NOT NULL,
 banco VARCHAR(45) NOT NULL,
 saldo INTEGER NOT NULL,
 id_persona INTEGER,
 FOREIGN KEY (id_persona) REFERENCES personas (id),
 PRIMARY KEY(id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [45]:
%%sql
CREATE TABLE persona_pertenece_faccion (
 id_persona INTEGER,
 id_faccion INTEGER,
 PRIMARY KEY (id_faccion, id_persona),
 FOREIGN KEY (id_persona) REFERENCES personas(id),
 FOREIGN KEY (id_faccion) REFERENCES facciones(id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [49]:
%%sql
CREATE TABLE persona_tiene_trabajo (
 id_persona INTEGER,
 id_trabajo INTEGER,
 estado BOOL NOT NULL,
 ultima_vez_realizado TIMESTAMP NOT NULL,
 PRIMARY KEY (id_persona, id_trabajo),
 FOREIGN KEY (id_persona) REFERENCES personas (id), 
 FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [63]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [130]:
%%sql


SELECT 
  personas.id, personas.nombre, personas.apellidos
FROM 
  personas INNER JOIN persona_pertenece_faccion 
ON 
  personas.id = persona_pertenece_faccion.id_persona INNER JOIN facciones 
ON 
  persona_pertenece_faccion.id_faccion = facciones.id
WHERE 
  facciones.nombre = 'FEDRA';

 * postgresql://postgres:***@localhost:5432/postgres
57 rows affected.

[(868, 'Matthew', 'Hartman Furlong'),
 (971, 'Prince', 'Vazquez Porter'),
 (894, 'Dawn', 'Cianciolo Schey'),
 (18, 'Jessica', 'Amelung Quincel'),
 (524, 'Melissa', 'Devora Morgan'),
 (777, 'Lois', 'Scott Maddox'),
 (460, 'John', 'Medina Dobbins'),
 (165, 'Peggy', 'Shafer Dombrowski'),
 (592, 'Doug', 'Callis Meyer'),
 (882, 'Linda', 'Buntin Popovich'),
 (990, 'Jesse', 'Rogers Christenberry'),
 (767, 'Deborah', 'Reyes Carter'),
 (822, 'Dorothy', 'Riney Holmes'),
 (518, 'Andrea', 'Bjorkman Tavares'),
 (980, 'Elizabeth', 'Albano Ritzman'),
 (161, 'Walter', 'Drews Vang'),
 (612, 'Roger', 'Lovely Paddio'),
 (544, 'Norma', 'Combs Miller'),
 (229, 'Darren', 'Martin Worth'),
 (418, 'Judy', 'Evans Miles'),
 (957, 'Jessi', 'Taylor Nealon'),
 (946, 'Felipe', 'Smith Miller'),
 (299, 'Jeffrey', 'Patterson Gunter'),
 (406, 'Eugene', 'Melara Nieves'),
 (527, 'Dana', 'Lile Alvarez'),
 (965, 'Candace', 'Rodriguez Johnson'),
 (353, 'William', 'Dow Rifenbark'),
 (793, 'Luis', 'Llanas Allison'),
 (29, 'Richard', 'Williams Sweeney'),
 (874, 'Maria', 'Bennett Bousquet'),
 (546, 'Herman', 'Lemieux Inabinet'),
 (198, 'Wanda', 'Holley Hicks'),
 (759, 'Mary', 'Briley Parker'),
 (268, 'Phyllis', 'Wiggins Chan'),
 (160, 'Lori', 'Freeman Girard'),
 (668, 'Rachel', 'Gallegos Pratt'),
 (615, 'Denise', 'Citron Callahan'),
 (300, 'Joan', 'Bliss Mahon'),
 (73, 'Julie', 'Walters Mendoza'),
 (489, 'Sharon', 'Mohr Lowell'),
 (260, 'Virginia', 'Boswell Duncan'),
 (700, 'Paul', 'Thole Brokaw'),
 (22, 'Colleen', 'Mayer Pires'),
 (766, 'Ruth', 'Trevino Callaway'),
 (885, 'Gwyn', 'Haynes Tomasino'),
 (473, 'James', 'Jackson Cook'),
 (845, 'Ernestine', 'Musigdilok Adams'),
 (823, 'Angel', 'Rushing Rodriguez'),
 (200, 'Justa', 'Nyland Frede'),
 (277, 'Warren', 'Lopez Burgener'),
 (39, 'Matthew', 'Mendez Bradshaw'),
 (530, 'James', 'Helbig Crum'),
 (52, 'Douglas', 'Nahhas Sorensen'),
 (96, 'Ryan', 'Butler Bradley'),
 (118, 'Bruce', 'Sanders Ly'),
 (492, 'Amy', 'Amos Eckard'),
 (919, 'Ollie', 'Salinas Wood')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [65]:
%%sql

SELECT
  count(Personas.id)
FROM
  Personas
WHERE 
  Personas.fecha_nacimiento < '2019-12-01'

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(930,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [66]:
%%sql

SELECT
  Personas.id, Personas.nombre, Personas.apellidos, cuentas_bancarias.saldo 
FROM
  Personas INNER JOIN cuentas_bancarias
ON
  Personas.id = cuentas_bancarias.id_persona
limit 20

 * postgresql://postgres:***@localhost:5432/postgres
20 rows affected.

[(7, 'Nicole', 'Wagner Adkinson', 4841),
 (14, 'Candy', 'Magno Beckham', 1337),
 (24, 'Alvaro', 'Martinez Vinson', 5180),
 (33, 'Inell', 'Truitt Nelson', 621),
 (33, 'Inell', 'Truitt Nelson', 4753),
 (37, 'Sherman', 'Jones Busch', 9901),
 (39, 'Matthew', 'Mendez Bradshaw', 8079),
 (47, 'Earnest', 'Magee Ledford', 3081),
 (49, 'Gladys', 'Blanco Miranda', 71),
 (65, 'Vincent', 'Reno Snyder', 8033),
 (75, 'Melvin', 'Baldwin Rose', 3251),
 (80, 'Clifton', 'Scavotto Deaton', 8553),
 (95, 'Efrain', 'Cruz Kolling', 3384),
 (4, 'Jason', 'Cummings Williams', 1753),
 (129, 'Laura', 'Bierman Candelaria', 1462),
 (129, 'Laura', 'Bierman Candelaria', 751),
 (134, 'Cheryl', 'Swanson Smith', 1639),
 (140, 'Luise', 'Wright Mitchell', 9271),
 (146, 'Patricia', 'Walther Griffin', 1142),
 (158, 'John', 'Kasper Clemments', 7310)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [67]:
%%sql

SELECT 
  facciones.nombre, COUNT(persona_tiene_trabajo.id_persona) as cantidad
FROM 
  facciones 
JOIN 
  persona_pertenece_faccion 
ON 
  facciones.id = persona_pertenece_faccion.id_faccion
JOIN 
  persona_tiene_trabajo 
ON 
  persona_tiene_trabajo.id_persona = persona_pertenece_faccion.id_persona
WHERE 
  persona_tiene_trabajo.estado = true	
GROUP BY 
  facciones.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('JavaScriptia', 7),
 ('Luciérnagas', 6),
 ('Pythonia', 6),
 ('MaCdonia', 5),
 ('FEDRA', 9),
 ('Carroñeros', 7)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [88]:
%%sql
SELECT
  facciones.nombre, COUNT(personas.infectado) AS cantidad_infectados
FROM
  facciones
JOIN
  persona_pertenece_faccion
ON
  facciones.id = persona_pertenece_faccion.id_faccion
JOIN
  personas
ON
  persona_pertenece_faccion.id_persona = personas.id
WHERE
  personas.infectado = true
GROUP BY 
	facciones.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('JavaScriptia', 24),
 ('Luciérnagas', 21),
 ('Pythonia', 24),
 ('MaCdonia', 13),
 ('FEDRA', 30),
 ('Carroñeros', 22)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [89]:
%%sql

SELECT 
    facciones.nombre AS faccion, 
    trabajos.nombre AS trabajo_mas_repetido 
FROM 
    facciones 
    INNER JOIN persona_pertenece_faccion 
        ON facciones.id = persona_pertenece_faccion.id_faccion 
    INNER JOIN personas 
        ON persona_pertenece_faccion.id_persona = personas.id 
    INNER JOIN persona_tiene_trabajo 
        ON personas.id = persona_tiene_trabajo.id_persona 
    INNER JOIN trabajos 
        ON persona_tiene_trabajo.id_trabajo = trabajos.id 
    INNER JOIN (
        SELECT 
            persona_pertenece_faccion.id_faccion,
            persona_tiene_trabajo.id_trabajo,
            ROW_NUMBER() OVER (PARTITION BY persona_pertenece_faccion.id_faccion ORDER BY COUNT(*) DESC, persona_tiene_trabajo.id_trabajo) AS row_num
        FROM 
            persona_tiene_trabajo 
            INNER JOIN personas 
                ON persona_tiene_trabajo.id_persona = personas.id 
            INNER JOIN persona_pertenece_faccion 
                ON persona_pertenece_faccion.id_persona = personas.id 
        GROUP BY 
            persona_pertenece_faccion.id_faccion, 
            persona_tiene_trabajo.id_trabajo
    ) AS max_trabajos 
        ON trabajos.id = max_trabajos.id_trabajo 
        AND facciones.id = max_trabajos.id_faccion 
        AND max_trabajos.row_num = 1 
GROUP BY 
    facciones.nombre, 
    trabajos.nombre 
ORDER BY 
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('Carroñeros', 'Limpieza'),
 ('FEDRA', 'Limpieza'),
 ('JavaScriptia', 'Limpieza'),
 ('Luciérnagas', 'Militar'),
 ('MaCdonia', 'Cremador'),
 ('Pythonia', 'Limpieza')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [102]:
%%sql


SELECT 
    facciones.nombre AS Nombre, 
    SUM(cuentas_bancarias.saldo) AS Saldo
FROM facciones
    INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('JavaScriptia', 15697),
 ('Luciérnagas', 28128),
 ('Pythonia', 29473),
 ('MaCdonia', 16934),
 ('FEDRA', 26732),
 ('Carroñeros', 40539)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [104]:
%%sql

SELECT cuentas_bancarias.banco AS Banco, COUNT(DISTINCT id_persona) AS Cantidad, SUM(saldo) AS Saldo 
FROM cuentas_bancarias 
GROUP BY Banco;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Banco BBVA', 8, 30835),
 ('Banco BCI SpA', 9, 40830),
 ('Banco Consorcio S.A', 14, 51984),
 ('Banco de la Nación S.A', 16, 64526),
 ('Banco Estado SpA', 10, 40327),
 ('Banco Pedrito Pascal SpA', 12, 60297),
 ('Banco Pythonia S.A', 13, 55231),
 ('Banco Santander SpA', 8, 35328),
 ('Banco Scotiabank', 22, 114182),
 ('FedraBank S.A', 7, 18534)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [107]:
%%sql

SELECT 
    facciones.nombre AS faccion, 
    MAX(cuentas_bancarias.banco) AS banco
FROM facciones
INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
GROUP BY facciones.nombre

 * postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('JavaScriptia', 'Banco Santander SpA'),
 ('Luciérnagas', 'FedraBank S.A'),
 ('Pythonia', 'FedraBank S.A'),
 ('MaCdonia', 'Banco Scotiabank'),
 ('FEDRA', 'Banco Santander SpA'),
 ('Carroñeros', 'FedraBank S.A')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [131]:
%%sql

SELECT personas.id AS id, personas.nombre AS nombre, personas.apellidos AS apellido
FROM personas
    JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
GROUP BY personas.id
HAVING COUNT(persona_pertenece_faccion.id_faccion) >= 2;

 * postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[(190, 'Elizabeth', 'Starnes Hemenway'),
 (957, 'Jessi', 'Taylor Nealon'),
 (22, 'Colleen', 'Mayer Pires'),
 (632, 'John', 'Griffin Straker'),
 (766, 'Ruth', 'Trevino Callaway'),
 (913, 'Ted', 'Morgan Legette'),
 (171, 'James', 'Bruner Bassett'),
 (29, 'Richard', 'Williams Sweeney'),
 (698, 'Jerry', 'Dong Anderson'),
 (96, 'Ryan', 'Butler Bradley'),
 (303, 'Jenny', 'Echols Leitheiser'),
 (822, 'Dorothy', 'Riney Holmes'),
 (920, 'Jacqueline', 'Coggins Kuhl'),
 (735, 'Marjorie', 'Phang James'),
 (808, 'Janna', 'Van Richner'),
 (668, 'Rachel', 'Gallegos Pratt'),
 (69, 'Robert', 'Steele Fuller'),
 (878, 'Rodney', 'Bennett Haas'),
 (615, 'Denise', 'Citron Callahan'),
 (830, 'Katelyn', 'Turner Montgomery'),
 (664, 'Dorothy', 'Aschenbrenner Trussell'),
 (404, 'Heriberto', 'Jones Williams'),
 (894, 'Dawn', 'Cianciolo Schey'),
 (418, 'Judy', 'Evans Miles'),
 (45, 'Joseph', 'Kallenberg Jones'),
 (494, 'Michael', 'Witkowski Istre'),
 (793, 'Luis', 'Llanas Allison'),
 (463, 'George', 'Hayes Haskins'),
 (336, 'Sean', 'Gluck Baker'),
 (94, 'Kathleen', 'Boylan Lipsitz')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *